 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1280px;
	 height: 6001px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #wi 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1280px;
	 height: 6001px;
	 z-index:1;
} 

 #Ov1IuWFNg 
{ 
	 left: 746px; 
	 top: 1732px; 
	 position: absolute; 
	 width: 322px;
	 height: 207px;
	 z-index:2;
} 

 #layer_3 
{ 
	 left: -13px; 
	 top: 4792px; 
	 position: absolute; 
	 width: 1293px;
	 height: 805px;
	 z-index:3;
} 

 #layer_4 
{ 
	 left: -176px; 
	 top: 5074px; 
	 position: absolute; 
	 width: 1633px;
	 height: 548px;
	 z-index:4;
} 

 #Ov1IuWFNg_0 
{ 
	 left: 356px; 
	 top: 5162px; 
	 position: absolute; 
	 width: 639px;
	 height: 247px;
	 z-index:5;
} 

 #layer_6 
{ 
	 left: -1px; 
	 top: 1804px; 
	 position: absolute; 
	 width: 1282px;
	 height: 2205px;
	 z-index:6;
} 

 #layer_7 
{ 
	 left: -20px; 
	 top: -52px; 
	 position: absolute; 
	 width: 1345px;
	 height: 951px;
	 z-index:7;
} 

 #layer_8 
{ 
	 left: 504px; 
	 top: 48px; 
	 position: absolute; 
	 width: 727px;
	 height: 728px;
	 z-index:8;
} 

 #Ov5IuWFNg 
{ 
	 left: 465px; 
	 top: 0px; 
	 position: absolute; 
	 width: 729px;
	 height: 877px;
	 z-index:9;
} 

 #layer_10 
{ 
	 left: -12px; 
	 top: -1px; 
	 position: absolute; 
	 width: 1295px;
	 height: 72px;
	 z-index:10;
} 

 #rWlXvX 
{ 
	 left: 150px; 
	 top: 127px; 
	 position: absolute; 
	 width: 331px;
	 height: 207px;
	 z-index:11;
} 

 #oc 
{ 
	 left: 156px; 
	 top: 376px; 
	 position: absolute; 
	 width: 267px;
	 height: 39px;
	 z-index:12;
} 

 #C0 
{ 
	 left: 172px; 
	 top: 589px; 
	 position: absolute; 
	 width: 231px;
	 height: 126px;
	 z-index:13;
} 

 #layer_14 
{ 
	 left: 111px; 
	 top: 651px; 
	 position: absolute; 
	 width: 357px;
	 height: 149px;
	 z-index:14;
} 

 #layer_15 
{ 
	 left: 176px; 
	 top: 580px; 
	 position: absolute; 
	 width: 222px;
	 height: 8px;
	 z-index:15;
} 

 #C0_0 
{ 
	 left: 172px; 
	 top: 438px; 
	 position: absolute; 
	 width: 231px;
	 height: 146px;
	 z-index:16;
} 

 #layer_17 
{ 
	 left: 150px; 
	 top: 651px; 
	 position: absolute; 
	 width: 278px;
	 height: 58px;
	 z-index:17;
} 

 #layer_18 
{ 
	 left: 203px; 
	 top: 662px; 
	 position: absolute; 
	 width: 192px;
	 height: 20px;
	 z-index:18;
} 

 #Ov2IuWFNg 
{ 
	 left: 171px; 
	 top: 672px; 
	 position: absolute; 
	 width: 16px;
	 height: 16px;
	 z-index:19;
} 

 #ONCbNff 
{ 
	 left: 205px; 
	 top: 687px; 
	 position: absolute; 
	 width: 194px;
	 height: 11px;
	 z-index:20;
} 

 #Ov2IuWFNg_0 
{ 
	 left: 135px; 
	 top: 14px; 
	 position: absolute; 
	 width: 163px;
	 height: 42px;
	 z-index:21;
} 

 #layer_22 
{ 
	 left: 521px; 
	 top: 5881px; 
	 position: absolute; 
	 width: 118px;
	 height: 12px;
	 z-index:22;
} 

 #K 
{ 
	 left: 691px; 
	 top: 5881px; 
	 position: absolute; 
	 width: 54px;
	 height: 13px;
	 z-index:23;
} 

 #pI 
{ 
	 left: 1017px; 
	 top: 5678px; 
	 position: absolute; 
	 width: 117px;
	 height: 35px;
	 z-index:24;
} 

 #pX 
{ 
	 left: 509px; 
	 top: 5882px; 
	 position: absolute; 
	 width: 10px;
	 height: 10px;
	 z-index:25;
} 

 #pX_0 
{ 
	 left: 679px; 
	 top: 5882px; 
	 position: absolute; 
	 width: 10px;
	 height: 10px;
	 z-index:26;
} 

 #C0_1 
{ 
	 left: 998px; 
	 top: 5718px; 
	 position: absolute; 
	 width: 154px;
	 height: 97px;
	 z-index:27;
} 

 #Jhp 
{ 
	 left: 386px; 
	 top: 5649px; 
	 position: absolute; 
	 width: 509px;
	 height: 33px;
	 z-index:28;
} 

 #pX_1 
{ 
	 left: 159px; 
	 top: 5727px; 
	 position: absolute; 
	 width: 208px;
	 height: 82px;
	 z-index:29;
} 

 #pX_2 
{ 
	 left: 376px; 
	 top: 5727px; 
	 position: absolute; 
	 width: 172px;
	 height: 82px;
	 z-index:30;
} 

 #pX_3 
{ 
	 left: 556px; 
	 top: 5727px; 
	 position: absolute; 
	 width: 212px;
	 height: 82px;
	 z-index:31;
} 

 #pX_4 
{ 
	 left: 774px; 
	 top: 5727px; 
	 position: absolute; 
	 width: 211px;
	 height: 82px;
	 z-index:32;
} 

 #ql 
{ 
	 left: 172px; 
	 top: 5738px; 
	 position: absolute; 
	 width: 54px;
	 height: 16px;
	 z-index:33;
} 

 #VeBJh 
{ 
	 left: 390px; 
	 top: 5738px; 
	 position: absolute; 
	 width: 105px;
	 height: 16px;
	 z-index:34;
} 

 #ql_0 
{ 
	 left: 571px; 
	 top: 5738px; 
	 position: absolute; 
	 width: 54px;
	 height: 16px;
	 z-index:35;
} 

 #VeBJh_0 
{ 
	 left: 788px; 
	 top: 5738px; 
	 position: absolute; 
	 width: 105px;
	 height: 16px;
	 z-index:36;
} 

 #PIC 
{ 
	 left: 237px; 
	 top: 5762px; 
	 position: absolute; 
	 width: 101px;
	 height: 30px;
	 z-index:37;
} 

 #R 
{ 
	 left: 455px; 
	 top: 5772px; 
	 position: absolute; 
	 width: 29px;
	 height: 14px;
	 z-index:38;
} 

 #layer_39 
{ 
	 left: 630px; 
	 top: 5772px; 
	 position: absolute; 
	 width: 90px;
	 height: 14px;
	 z-index:39;
} 

 #llmF 
{ 
	 left: 848px; 
	 top: 5772px; 
	 position: absolute; 
	 width: 89px;
	 height: 14px;
	 z-index:40;
} 

 #layer_41 
{ 
	 left: 172px; 
	 top: 5757px; 
	 position: absolute; 
	 width: 56px;
	 height: 41px;
	 z-index:41;
} 

 #layer_42 
{ 
	 left: 390px; 
	 top: 5757px; 
	 position: absolute; 
	 width: 56px;
	 height: 41px;
	 z-index:42;
} 

 #layer_43 
{ 
	 left: 569px; 
	 top: 5757px; 
	 position: absolute; 
	 width: 56px;
	 height: 41px;
	 z-index:43;
} 

 #layer_44 
{ 
	 left: 786px; 
	 top: 5757px; 
	 position: absolute; 
	 width: 56px;
	 height: 41px;
	 z-index:44;
} 

 #step 
{ 
	 left: 178px; 
	 top: 5777px; 
	 position: absolute; 
	 width: 27px;
	 height: 14px;
	 z-index:45;
} 

 #step_0 
{ 
	 left: 393px; 
	 top: 5777px; 
	 position: absolute; 
	 width: 27px;
	 height: 14px;
	 z-index:46;
} 

 #step_1 
{ 
	 left: 572px; 
	 top: 5777px; 
	 position: absolute; 
	 width: 27px;
	 height: 14px;
	 z-index:47;
} 

 #step_2 
{ 
	 left: 789px; 
	 top: 5777px; 
	 position: absolute; 
	 width: 27px;
	 height: 14px;
	 z-index:48;
} 

 #layer_1 
{ 
	 left: 206px; 
	 top: 5765px; 
	 position: absolute; 
	 width: 9px;
	 height: 27px;
	 z-index:49;
} 

 #layer_2 
{ 
	 left: 422px; 
	 top: 5765px; 
	 position: absolute; 
	 width: 16px;
	 height: 27px;
	 z-index:50;
} 

 #layer_3_0 
{ 
	 left: 601px; 
	 top: 5765px; 
	 position: absolute; 
	 width: 16px;
	 height: 28px;
	 z-index:51;
} 

 #layer_4_0 
{ 
	 left: 817px; 
	 top: 5765px; 
	 position: absolute; 
	 width: 18px;
	 height: 27px;
	 z-index:52;
} 

 #layer_53 
{ 
	 left: 504px; 
	 top: 5150px; 
	 position: absolute; 
	 width: 289px;
	 height: 16px;
	 z-index:53;
} 

 #Cc 
{ 
	 left: 440px; 
	 top: 3795px; 
	 position: absolute; 
	 width: 477px;
	 height: 3px;
	 z-index:54;
} 

 #NF27000iEJ 
{ 
	 left: 500px; 
	 top: 5424px; 
	 position: absolute; 
	 width: 281px;
	 height: 17px;
	 z-index:55;
} 

 #Nvov 
{ 
	 left: 522px; 
	 top: 5449px; 
	 position: absolute; 
	 width: 237px;
	 height: 13px;
	 z-index:56;
} 

 #C0_2 
{ 
	 left: 497px; 
	 top: 4976px; 
	 position: absolute; 
	 width: 295px;
	 height: 186px;
	 z-index:57;
} 

 #Jh 
{ 
	 left: 509px; 
	 top: 4871px; 
	 position: absolute; 
	 width: 256px;
	 height: 33px;
	 z-index:58;
} 

 #Ov3IuWFNg 
{ 
	 left: 174px; 
	 top: 5233px; 
	 position: absolute; 
	 width: 194px;
	 height: 98px;
	 z-index:59;
} 

 #Cc_0 
{ 
	 left: 126px; 
	 top: 5869px; 
	 position: absolute; 
	 width: 1027px;
	 height: 3px;
	 z-index:60;
} 

 #Ov3IuWFNg_0 
{ 
	 left: 420px; 
	 top: 5233px; 
	 position: absolute; 
	 width: 194px;
	 height: 76px;
	 z-index:61;
} 

 #Ov3IuWFNg_1 
{ 
	 left: 665px; 
	 top: 5233px; 
	 position: absolute; 
	 width: 194px;
	 height: 53px;
	 z-index:62;
} 

 #Ov3IuWFNg_2 
{ 
	 left: 911px; 
	 top: 5234px; 
	 position: absolute; 
	 width: 194px;
	 height: 119px;
	 z-index:63;
} 

 #lpA 
{ 
	 left: 666px; 
	 top: 5295px; 
	 position: absolute; 
	 width: 191px;
	 height: 24px;
	 z-index:64;
} 

 #layer_65 
{ 
	 left: 159px; 
	 top: 4182px; 
	 position: absolute; 
	 width: 962px;
	 height: 201px;
	 z-index:65;
} 

 #layer_66 
{ 
	 left: 159px; 
	 top: 4573px; 
	 position: absolute; 
	 width: 470px;
	 height: 153px;
	 z-index:66;
} 

 #layer_67 
{ 
	 left: 650px; 
	 top: 4573px; 
	 position: absolute; 
	 width: 470px;
	 height: 153px;
	 z-index:67;
} 

 #BEvq 
{ 
	 left: 508px; 
	 top: 4229px; 
	 position: absolute; 
	 width: 539px;
	 height: 14px;
	 z-index:68;
} 

 #CgA1 
{ 
	 left: 449px; 
	 top: 4265px; 
	 position: absolute; 
	 width: 289px;
	 height: 77px;
	 z-index:69;
} 

 #VeBJhgxfXN 
{ 
	 left: 343px; 
	 top: 4629px; 
	 position: absolute; 
	 width: 241px;
	 height: 77px;
	 z-index:70;
} 

 #CiXNurWlXJh 
{ 
	 left: 837px; 
	 top: 4629px; 
	 position: absolute; 
	 width: 231px;
	 height: 56px;
	 z-index:71;
} 

 #V11 
{ 
	 left: 662px; 
	 top: 4605px; 
	 position: absolute; 
	 width: 129px;
	 height: 84px;
	 z-index:72;
} 

 #ll 
{ 
	 left: 285px; 
	 top: 4066px; 
	 position: absolute; 
	 width: 702px;
	 height: 85px;
	 z-index:73;
} 

 #layer_74 
{ 
	 left: 445px; 
	 top: 4193px; 
	 position: absolute; 
	 width: 664px;
	 height: 28px;
	 z-index:74;
} 

 #layer_75 
{ 
	 left: 316px; 
	 top: 4591px; 
	 position: absolute; 
	 width: 298px;
	 height: 28px;
	 z-index:75;
} 

 #layer_76 
{ 
	 left: 804px; 
	 top: 4591px; 
	 position: absolute; 
	 width: 298px;
	 height: 28px;
	 z-index:76;
} 

 #CiXOoCW 
{ 
	 left: 660px; 
	 top: 4198px; 
	 position: absolute; 
	 width: 236px;
	 height: 17px;
	 z-index:77;
} 

 #oszTg 
{ 
	 left: 348px; 
	 top: 4597px; 
	 position: absolute; 
	 width: 227px;
	 height: 16px;
	 z-index:78;
} 

 #JALozyJALIC 
{ 
	 left: 821px; 
	 top: 4597px; 
	 position: absolute; 
	 width: 264px;
	 height: 16px;
	 z-index:79;
} 

 #V16 
{ 
	 left: 171px; 
	 top: 4194px; 
	 position: absolute; 
	 width: 259px;
	 height: 179px;
	 z-index:80;
} 

 #Ov5IuWFNg_0 
{ 
	 left: 652px; 
	 top: 4403px; 
	 position: absolute; 
	 width: 467px;
	 height: 150px;
	 z-index:81;
} 

 #layer_82 
{ 
	 left: 159px; 
	 top: 4401px; 
	 position: absolute; 
	 width: 470px;
	 height: 153px;
	 z-index:82;
} 

 #NuAStG 
{ 
	 left: 316px; 
	 top: 4450px; 
	 position: absolute; 
	 width: 295px;
	 height: 77px;
	 z-index:83;
} 

 #layer_84 
{ 
	 left: 316px; 
	 top: 4412px; 
	 position: absolute; 
	 width: 298px;
	 height: 28px;
	 z-index:84;
} 

 #St 
{ 
	 left: 391px; 
	 top: 4417px; 
	 position: absolute; 
	 width: 148px;
	 height: 17px;
	 z-index:85;
} 

 #V18 
{ 
	 left: 171px; 
	 top: 4413px; 
	 position: absolute; 
	 width: 129px;
	 height: 129px;
	 z-index:86;
} 

 #V20 
{ 
	 left: 171px; 
	 top: 4585px; 
	 position: absolute; 
	 width: 129px;
	 height: 129px;
	 z-index:87;
} 

 #Ov4IuWFNg 
{ 
	 left: 770px; 
	 top: 4257px; 
	 position: absolute; 
	 width: 329px;
	 height: 101px;
	 z-index:88;
} 

 #pX_5 
{ 
	 left: 445px; 
	 top: 4250px; 
	 position: absolute; 
	 width: 664px;
	 height: 3px;
	 z-index:89;
} 

 #TrXp 
{ 
	 left: 450px; 
	 top: 4361px; 
	 position: absolute; 
	 width: 556px;
	 height: 11px;
	 z-index:90;
} 

 #layer_91 
{ 
	 left: 162px; 
	 top: 2282px; 
	 position: absolute; 
	 width: 103px;
	 height: 23px;
	 z-index:91;
} 

 #layer_92 
{ 
	 left: 289px; 
	 top: 2490px; 
	 position: absolute; 
	 width: 832px;
	 height: 302px;
	 z-index:92;
} 

 #layer_93 
{ 
	 left: 159px; 
	 top: 1861px; 
	 position: absolute; 
	 width: 962px;
	 height: 41px;
	 z-index:93;
} 

 #layer_94 
{ 
	 left: 159px; 
	 top: 2203px; 
	 position: absolute; 
	 width: 962px;
	 height: 41px;
	 z-index:94;
} 

 #layer_95 
{ 
	 left: 344px; 
	 top: 2553px; 
	 position: absolute; 
	 width: 217px;
	 height: 48px;
	 z-index:95;
} 

 #layer_96 
{ 
	 left: 344px; 
	 top: 2637px; 
	 position: absolute; 
	 width: 217px;
	 height: 48px;
	 z-index:96;
} 

 #layer_97 
{ 
	 left: 344px; 
	 top: 2713px; 
	 position: absolute; 
	 width: 217px;
	 height: 48px;
	 z-index:97;
} 

 #vtgufreeev 
{ 
	 left: 343px; 
	 top: 2513px; 
	 position: absolute; 
	 width: 246px;
	 height: 20px;
	 z-index:98;
} 

 #JhpfVeBJ 
{ 
	 left: 286px; 
	 top: 2327px; 
	 position: absolute; 
	 width: 517px;
	 height: 82px;
	 z-index:99;
} 

 #rWlXguY 
{ 
	 left: 286px; 
	 top: 2948px; 
	 position: absolute; 
	 width: 504px;
	 height: 60px;
	 z-index:100;
} 

 #Chocy 
{ 
	 left: 286px; 
	 top: 3197px; 
	 position: absolute; 
	 width: 525px;
	 height: 60px;
	 z-index:101;
} 

 #rWlXVp 
{ 
	 left: 286px; 
	 top: 3454px; 
	 position: absolute; 
	 width: 464px;
	 height: 38px;
	 z-index:102;
} 

 #CiXNurWlXJh_0 
{ 
	 left: 580px; 
	 top: 2555px; 
	 position: absolute; 
	 width: 487px;
	 height: 56px;
	 z-index:103;
} 

 #TAChoc 
{ 
	 left: 287px; 
	 top: 3294px; 
	 position: absolute; 
	 width: 447px;
	 height: 32px;
	 z-index:104;
} 

 #lXg 
{ 
	 left: 580px; 
	 top: 2718px; 
	 position: absolute; 
	 width: 336px;
	 height: 35px;
	 z-index:105;
} 

 #oLmA 
{ 
	 left: 580px; 
	 top: 2642px; 
	 position: absolute; 
	 width: 449px;
	 height: 35px;
	 z-index:106;
} 

 #VeBJhICp 
{ 
	 left: 367px; 
	 top: 2561px; 
	 position: absolute; 
	 width: 164px;
	 height: 32px;
	 z-index:107;
} 

 #v 
{ 
	 left: 379px; 
	 top: 2730px; 
	 position: absolute; 
	 width: 144px;
	 height: 14px;
	 z-index:108;
} 

 #FZAP 
{ 
	 left: 378px; 
	 top: 2645px; 
	 position: absolute; 
	 width: 151px;
	 height: 32px;
	 z-index:109;
} 

 #CiXNuTr 
{ 
	 left: 165px; 
	 top: 1370px; 
	 position: absolute; 
	 width: 937px;
	 height: 103px;
	 z-index:110;
} 

 #x 
{ 
	 left: 264px; 
	 top: 1868px; 
	 position: absolute; 
	 width: 757px;
	 height: 25px;
	 z-index:111;
} 

 #pt4 
{ 
	 left: 270px; 
	 top: 2209px; 
	 position: absolute; 
	 width: 744px;
	 height: 25px;
	 z-index:112;
} 

 #CiXNurWlXJh_1 
{ 
	 left: 162px; 
	 top: 1537px; 
	 position: absolute; 
	 width: 432px;
	 height: 136px;
	 z-index:113;
} 

 #iwAA 
{ 
	 left: 162px; 
	 top: 1985px; 
	 position: absolute; 
	 width: 287px;
	 height: 117px;
	 z-index:114;
} 

 #Jh_0 
{ 
	 left: 673px; 
	 top: 1984px; 
	 position: absolute; 
	 width: 277px;
	 height: 97px;
	 z-index:115;
} 

 #Ov6IuWFNg 
{ 
	 left: 284px; 
	 top: 3746px; 
	 position: absolute; 
	 width: 726px;
	 height: 153px;
	 z-index:116;
} 

 #poJh 
{ 
	 left: 241px; 
	 top: 1940px; 
	 position: absolute; 
	 width: 289px;
	 height: 19px;
	 z-index:117;
} 

 #Jhs 
{ 
	 left: 731px; 
	 top: 1940px; 
	 position: absolute; 
	 width: 318px;
	 height: 19px;
	 z-index:118;
} 

 #bg 
{ 
	 left: 168px; 
	 top: 2286px; 
	 position: absolute; 
	 width: 54px;
	 height: 16px;
	 z-index:119;
} 

 #NEhvtgufreeeit 
{ 
	 left: 286px; 
	 top: 2282px; 
	 position: absolute; 
	 width: 476px;
	 height: 23px;
	 z-index:120;
} 

 #CiXNurWlXEE 
{ 
	 left: 287px; 
	 top: 3151px; 
	 position: absolute; 
	 width: 359px;
	 height: 23px;
	 z-index:121;
} 

 #CiXNurWlXEIt 
{ 
	 left: 287px; 
	 top: 3408px; 
	 position: absolute; 
	 width: 355px;
	 height: 23px;
	 z-index:122;
} 

 #pX_6 
{ 
	 left: 162px; 
	 top: 1969px; 
	 position: absolute; 
	 width: 443px;
	 height: 3px;
	 z-index:123;
} 

 #pX_7 
{ 
	 left: 166px; 
	 top: 2314px; 
	 position: absolute; 
	 width: 679px;
	 height: 3px;
	 z-index:124;
} 

 #pX_8 
{ 
	 left: 162px; 
	 top: 3109px; 
	 position: absolute; 
	 width: 959px;
	 height: 3px;
	 z-index:125;
} 

 #pX_9 
{ 
	 left: 162px; 
	 top: 2825px; 
	 position: absolute; 
	 width: 959px;
	 height: 3px;
	 z-index:126;
} 

 #pX_10 
{ 
	 left: 162px; 
	 top: 3364px; 
	 position: absolute; 
	 width: 959px;
	 height: 3px;
	 z-index:127;
} 

 #pX_11 
{ 
	 left: 671px; 
	 top: 1969px; 
	 position: absolute; 
	 width: 450px;
	 height: 3px;
	 z-index:128;
} 

 #rbgbv 
{ 
	 left: 845px; 
	 top: 3147px; 
	 position: absolute; 
	 width: 275px;
	 height: 180px;
	 z-index:129;
} 

 #layer_1_0 
{ 
	 left: 232px; 
	 top: 2265px; 
	 position: absolute; 
	 width: 16px;
	 height: 49px;
	 z-index:130;
} 

 #Ov2IuWFNg_1 
{ 
	 left: 164px; 
	 top: 2885px; 
	 position: absolute; 
	 width: 681px;
	 height: 53px;
	 z-index:131;
} 

 #Ov1IuWFNg_1 
{ 
	 left: 164px; 
	 top: 3134px; 
	 position: absolute; 
	 width: 681px;
	 height: 53px;
	 z-index:132;
} 

 #Ov1IuWFNg_2 
{ 
	 left: 164px; 
	 top: 3391px; 
	 position: absolute; 
	 width: 681px;
	 height: 53px;
	 z-index:133;
} 

 #V12 
{ 
	 left: 456px; 
	 top: 1984px; 
	 position: absolute; 
	 width: 150px;
	 height: 120px;
	 z-index:134;
} 

 #V13 
{ 
	 left: 970px; 
	 top: 1984px; 
	 position: absolute; 
	 width: 150px;
	 height: 120px;
	 z-index:135;
} 

 #V14 
{ 
	 left: 845px; 
	 top: 2276px; 
	 position: absolute; 
	 width: 275px;
	 height: 180px;
	 z-index:136;
} 

 #rbgbv_0 
{ 
	 left: 839px; 
	 top: 2889px; 
	 position: absolute; 
	 width: 288px;
	 height: 192px;
	 z-index:137;
} 

 #V15 
{ 
	 left: 846px; 
	 top: 3393px; 
	 position: absolute; 
	 width: 274px;
	 height: 180px;
	 z-index:138;
} 

 #V6 
{ 
	 left: 737px; 
	 top: 1504px; 
	 position: absolute; 
	 width: 331px;
	 height: 229px;
	 z-index:139;
} 

 #pX_12 
{ 
	 left: -32px; 
	 top: 766px; 
	 position: absolute; 
	 width: 1344px;
	 height: 539px;
	 z-index:140;
} 

 #layer_141 
{ 
	 left: 182px; 
	 top: 902px; 
	 position: absolute; 
	 width: 907px;
	 height: 89px;
	 z-index:141;
} 

 #pX_13 
{ 
	 left: 446px; 
	 top: 915px; 
	 position: absolute; 
	 width: 17px;
	 height: 21px;
	 z-index:142;
} 

 #pX_14 
{ 
	 left: 214px; 
	 top: 870px; 
	 position: absolute; 
	 width: 850px;
	 height: 3px;
	 z-index:143;
} 

 #pX_15 
{ 
	 left: 159px; 
	 top: 817px; 
	 position: absolute; 
	 width: 961px;
	 height: 3px;
	 z-index:144;
} 

 #pX_16 
{ 
	 left: 160px; 
	 top: 813px; 
	 position: absolute; 
	 width: 961px;
	 height: 3px;
	 z-index:145;
} 

 #pX_17 
{ 
	 left: 160px; 
	 top: 1063px; 
	 position: absolute; 
	 width: 961px;
	 height: 3px;
	 z-index:146;
} 

 #pX_18 
{ 
	 left: 214px; 
	 top: 994px; 
	 position: absolute; 
	 width: 850px;
	 height: 3px;
	 z-index:147;
} 

 #pX_19 
{ 
	 left: 159px; 
	 top: 1058px; 
	 position: absolute; 
	 width: 961px;
	 height: 3px;
	 z-index:148;
} 

 #A6100 
{ 
	 left: 318px; 
	 top: 888px; 
	 position: absolute; 
	 width: 665px;
	 height: 19px;
	 z-index:149;
} 

 #Ov4IuWFNg_0 
{ 
	 left: 302px; 
	 top: 925px; 
	 position: absolute; 
	 width: 689px;
	 height: 64px;
	 z-index:150;
} 

 #layer_151 
{ 
	 left: 466px; 
	 top: 1013px; 
	 position: absolute; 
	 width: 353px;
	 height: 28px;
	 z-index:151;
} 

 #2015N528 
{ 
	 left: 495px; 
	 top: 1019px; 
	 position: absolute; 
	 width: 290px;
	 height: 18px;
	 z-index:152;
} 

 #Ov3IuWFNg_3 
{ 
	 left: 380px; 
	 top: 833px; 
	 position: absolute; 
	 width: 521px;
	 height: 29px;
	 z-index:153;
} 

 #p 
{ 
	 left: 527px; 
	 top: 1102px; 
	 position: absolute; 
	 width: 223px;
	 height: 16px;
	 z-index:154;
} 

 #layer_155 
{ 
	 left: 513px; 
	 top: 1103px; 
	 position: absolute; 
	 width: 12px;
	 height: 11px;
	 z-index:155;
} 

 #OrOp 
{ 
	 left: 313px; 
	 top: 1257px; 
	 position: absolute; 
	 width: 649px;
	 height: 17px;
	 z-index:156;
} 

 #layer_157 
{ 
	 left: 489px; 
	 top: 1146px; 
	 position: absolute; 
	 width: 297px;
	 height: 58px;
	 z-index:157;
} 

 #layer_158 
{ 
	 left: 546px; 
	 top: 1158px; 
	 position: absolute; 
	 width: 192px;
	 height: 20px;
	 z-index:158;
} 

 #Ov2IuWFNg_2 
{ 
	 left: 513px; 
	 top: 1167px; 
	 position: absolute; 
	 width: 16px;
	 height: 16px;
	 z-index:159;
} 

 #ONCbNff_0 
{ 
	 left: 548px; 
	 top: 1183px; 
	 position: absolute; 
	 width: 194px;
	 height: 11px;
	 z-index:160;
} 

 #Ov2IuWFNg_3 
{ 
	 left: 392px; 
	 top: 1216px; 
	 position: absolute; 
	 width: 494px;
	 height: 14px;
	 z-index:161;
} 

 #Ov2IuWFNg_4 
{ 
	 left: 1021px; 
	 top: 3979px; 
	 position: absolute; 
	 width: 96px;
	 height: 13px;
	 z-index:162;
} 

 #Ov2IuWFNg_5 
{ 
	 left: 1021px; 
	 top: 5562px; 
	 position: absolute; 
	 width: 96px;
	 height: 13px;
	 z-index:163;
} 

 #Ov4IuWFNg_1 
{ 
	 left: 491px; 
	 top: 3643px; 
	 position: absolute; 
	 width: 298px;
	 height: 58px;
	 z-index:164;
} 

 #Ov4IuWFNg_2 
{ 
	 left: 491px; 
	 top: 5478px; 
	 position: absolute; 
	 width: 298px;
	 height: 58px;
	 z-index:165;
} 
